body {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e4e8e8;
}

ion-icon {
    right: 500px;
    width: 90px;
    height: 90px;
}

.title{
    position: absolute;
    top: 10px;
    left:50px;
    right: 50px;
    border-style: outset;
    border-radius: 30%;
    background-color: darkslategray;
    color: rgb(254, 255, 255);
    text-align: center;
    background:  linear-gradient(155deg, #99e9e3, #43448e);
    box-shadow: rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 3px 1px -2px, rgb(0 0 0 / 20%) 0px 1px 5px 0px;
}
.result {
    position: absolute;
    top: 180px;
    width: 600px;
    height: 100px;
    border-style:outset ;
    text-align: center;
    left: 350px;
    border-radius: 20%;
    background:  linear-gradient(90deg, #b3dfe1, #43448e);
}
.btnmic{
    position: absolute;
    top:170px;
    left: 50px;
    width: 70px;
    height: 70px;
}
.spec {
    position: absolute;
    top: 400px;
    align-items: center;
    width: 500px;
    height: 300px;
}
.mfcc{
    position: absolute;
    right: 50px;
    top: 400px;
    width: 500px;
    height: 300px;
    
}
.spectrogram{
    position: absolute;
    top: 400px;
    left: 50px;
    width: 500px;
    height: 300px;
}

.gmmchart{
    position: absolute;
    right: 50px;
    top: 100px;
    width: 500px;
    height: 300px;
}
[data-role="controls"] > button {
    outline: none;
    display: block;
    border: outset;
    background:  linear-gradient(155deg, #99e9e3, #43448e);
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

[data-role="controls"] > button[data-recording="true"] {
    background: linear-gradient(0deg, #ff2038 0%, #b30003 100%);
}